<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSAlarmKitUsageDescription</key>
	<string>This app uses alarms to notify you when your tea steeping time is complete. Alarms will sound even in Silent mode to ensure you don't over-steep your tea.</string>
</dict>
</plist>
